<%- include ("partials/header") %>
<script>
  $(document).ready(function () {
    $('#dataTableClass').DataTable();
  });
</script>
<div class="container">
  <div class="bc-icons">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a class="text-gray-700" href="/contest">Contest</a></li>
        <li><i class="fas fa-angle-double-right mx-2 text-gray-700" aria-hidden="true"></i></li>
        <li class="breadcrumb-item text-gray-700 font-italic">Add Class</li>
      </ol>
    </nav>
  </div>
  <% if (xlData.length == 0) { %>
  <div class="form-group">
    <% if (message.length > 0) { %>
    <script>toastr.success('<%=message%>')</script>
    <% } %>
    <% if (error.length > 0) { %>
    <script>toastr.error('<%=error%>')</script>
    <% } %>
    <form action="/contest/add-class" method="POST" enctype="multipart/form-data">
      <label>Enter name of class</label>
      <input type="text" class="form-control" id="class_name" name="class_name">
      <label>Choose file (.xls, .xlsx):</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="filetoupload" accept=".xls, .xlsx">
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      </div>
      <button type="submit" class="btn m-left btn-dark-green btn-sm"><i class="fa fa-upload"></i> Submit</button>
    </form>
  </div>
  <% } else { %>
  <%
        var RollNumber = []
        var MemberCode = []
        var FullName = []
        for (let i = 0, l = xlData.length; i < l; ++i) {
            RollNumber.push(JSON.stringify(xlData[i].RollNumber).replace(/"/g,'').toUpperCase())
            MemberCode.push(JSON.stringify(xlData[i].MemberCode).replace(/"/g,'').toLowerCase())
            FullName.push(JSON.stringify(xlData[i].FullName).replace(/"/g,''))
        }
    %>
  <% if (message.length > 0) { %>
  <script>toastr.success('<%=message%>')</script>
  <% } %>
  <% if (error.length > 0) { %>
  <script>toastr.error('<%=error%>')</script>
  <% } %>
  <form action="/contest/add-class/create" method="POST">
    <input type="hidden" name="RollNumber" value="<%=RollNumber%>">
    <input type="hidden" name="MemberCode" value="<%=MemberCode%>">
    <input type="hidden" name="FullName" value="<%=FullName%>">
    <input type="hidden" name="class_name" value="<%=class_name%>">
    <div class="row">
      <div class="col-4">
        <input type="text" class="form-control" id="password" name="password"
          placeholder="Enter Password - Default: fpt@user">
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-green btn-sm"><i class="fa fa-check-circle fa-lg"></i> Create</button>
      </div>
    </div>
  </form>
  <div class="card-body">
    <table class="table table-bordered table-hover" id="dataTableClass" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Roll number</th>
          <th>MemberCode</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>

        <% for (let i = 0, l = xlData.length; i < l; ++i) { %>
        <tr>
          <td><%= JSON.stringify(xlData[i].RollNumber).replace(/"/g,'') %></td>
          <td><%= JSON.stringify(xlData[i].MemberCode).replace(/"/g,'') %></td>
          <td><%= JSON.stringify(xlData[i].FullName).replace(/"/g,'') %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <% } %>


</div>
<%- include ("partials/footer") %>