<%- include ("partials/header") %>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb cyan lighten-4">
            <li class="breadcrumb-item"><a class="black-text" href="/contest">Contest</a></li>
            <li class="breadcrumb-item"><a class="black-text"
                    href="/contest/detail?contest_id=<%=contest_id%>">Detail</a></li>
            <li class="breadcrumb-item active">Add problem</li>
        </ol>
    </nav>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Contest
                <%=contest_name%>
            </h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <p><b>Problems</b></p>
                    <% for (let i = 0, l = problem_files.length; i < l; ++i) { %>
                    <a href="/debai/<%=contest_name%>/<%=problem_files[i]%>" target="_blank">
                        <%=problem_files[i]%>
                    </a>
                    <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal"
                        data-target="#modalConfirmDeleteProblem<%=i%>">
                        <i class="fa fa-trash-alt fa-lg"></i>
                    </button><br>
                    <!--Modal: modalConfirmDelete-->
                    <div class="modal fade" id="modalConfirmDeleteProblem<%=i%>" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                            <div class="modal-content text-center">
                                <div class="modal-header d-flex justify-content-center">
                                    <p class="heading">Are you sure?</p>
                                </div>
                                <div class="modal-body">
                                    <i class="fas fa-times fa-4x animated rotateIn"></i><br>
                                    <font color=red><b><%=problem_files[i]%></b></font>
                                </div>
                                <div class="modal-footer flex-center">
                                    <form action="/contest/add-problem/delete-problem" method="post">
                                        <input type="hidden" name="problem_path"
                                            value="./public/debai/<%=contest_name%>/<%=problem_files[i]%>">
                                        <input type="hidden" name="contest_id" value="<%=contest_id%>">
                                        <button type="submit" class="btn btn-outline-danger">Yes</button>
                                    </form>
                                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal: modalConfirmDelete-->
                    <% } %>
                </div>
                <div class="col-lg-6">
                    <p><b>Testcases</b></p>
                    <% for (let i = 0, l = testcase.length; i < l; ++i) { %>
                    <%=testcase[i]%> (<%=testcase_size[i]%> tests)
                    <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal"
                        data-target="#modalConfirmDeleteTestcase<%=i%>">
                        <i class="fa fa-trash-alt fa-lg"></i>
                    </button><br>
                    <!--Modal: modalConfirmDelete-->
                    <div class="modal fade" id="modalConfirmDeleteTestcase<%=i%>" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                            <div class="modal-content text-center">
                                <div class="modal-header d-flex justify-content-center">
                                    <p class="heading">Are you sure?</p>
                                </div>
                                <div class="modal-body">
                                    <i class="fas fa-times fa-4x animated rotateIn"></i><br>
                                    <font color=red><b><%=testcase[i]%> (<%=testcase_size[i]%> tests)</b></font>
                                </div>
                                <div class="modal-footer flex-center">
                                    <form action="/contest/add-problem/delete-testcase" method="post">
                                        <input type="hidden" name="testcase_path" value="<%=testcase_path[i]%>">
                                        <input type="hidden" name="contest_id" value="<%=contest_id%>">
                                        <button type="submit" class="btn btn-outline-danger">Yes</button>
                                    </form>
                                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal: modalConfirmDelete-->
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Upload problems</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Choose file (.pdf, .doc, .docx):</label>
                        <div class="custom-file">
                            <form action="/contest/add-problem/upload-problem?contest_id=<%=contest_id%>" method="post"
                                enctype="multipart/form-data">
                                <input type="file" class="custom-file-input" name="filetoupload"
                                    accept=".pdf, .doc, .docx">
                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                <button type="submit" class="btn btn-info"><i class="fa fa-upload"></i> Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Upload testcases</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Choose file (.zip):</label>
                        <div class="custom-file">
                            <form action="/contest/add-problem/upload-testcase?contest_id=<%=contest_id%>" method="post"
                                enctype="multipart/form-data">
                                <input type="file" class="custom-file-input" name="filetoupload" accept=".zip">
                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                <button type="submit" class="btn btn-info"><i class="fa fa-upload"></i> Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<%- include ("partials/footer") %>