<%- include ("partials/header") %>
<div class="container">
    <div class="bc-icons">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> <a class="text-gray-700" href="/contest">Contest</a></li>
                <li><i class="fas fa-angle-double-right mx-2 text-gray-700" aria-hidden="true"></i></li>
                <li class="breadcrumb-item"> <a class="text-gray-700"
                        href="/contest/detail?contest_id=<%=contest_id%>">Detail</a></li>
                <li><i class="fas fa-angle-double-right mx-2 text-gray-700" aria-hidden="true"></i></li>
                <li class="breadcrumb-item text-gray-700 font-italic">Add problem</li>
            </ol>
        </nav>
    </div>
    <% if (error.length > 0) { %>
    <script>toastr.error('<%=error%>')</script>
    <% } %>
    <% if (message.length > 0) { %>
    <script>toastr.success('<%=message%>')</script>
    <% } %>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Contest
                <%=contest_name%>
            </h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <p><b>Problems</b></p>
                    <% for (let i = 0, l = problem_files.length; i < l; ++i) { %>
                    <a href="/debai/<%=contest_name%>/<%=problem_files[i]%>" target="_blank">
                        <%=problem_files[i]%>
                    </a>
                    <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal"
                        data-target="#modalConfirmDeleteProblem<%=i%>">
                        <i class="fa fa-trash-alt fa-lg"></i>
                    </button><br>
                    <!--Modal: modalConfirmDelete-->
                    <div class="modal fade" id="modalConfirmDeleteProblem<%=i%>" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                            <div class="modal-content text-center">
                                <div class="modal-header d-flex justify-content-center">
                                    <p class="heading">Are you sure?</p>
                                </div>
                                <div class="modal-body">
                                    <i class="fas fa-times fa-4x animated rotateIn"></i><br>
                                    <font color=red><b><%=problem_files[i]%></b></font>
                                </div>
                                <div class="modal-footer flex-center">
                                    <form action="/contest/add-problem/delete-problem" method="POST">
                                        <input type="hidden" name="problem_path"
                                            value="<%=storage.DEBAI%><%=contest_name%>/<%=problem_files[i]%>">
                                        <input type="hidden" name="contest_id" value="<%=contest_id%>">
                                        <button type="submit" class="btn btn-outline-danger">Yes</button>
                                    </form>
                                    <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal: modalConfirmDelete-->
                    <% } %>
                </div>
                <div class="col-lg-6">
                    <p><b>Testcases</b></p>
                    <% for (let i = 0, l = testcase.length; i < l; ++i) { %>
                    <a href="" data-toggle="modal" data-target="#myModal<%=i%>"><%=testcase[i]%> (<%=testcase_size[i]%>
                        tests)</a>
                    <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal"
                        data-target="#modalConfirmDeleteTestcase<%=i%>">
                        <i class="fa fa-trash-alt fa-lg"></i>
                    </button><br>
                    <!--Modal: modalConfirmDelete-->
                    <div class="modal fade" id="modalConfirmDeleteTestcase<%=i%>" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                            <div class="modal-content text-center">
                                <div class="modal-header d-flex justify-content-center">
                                    <p class="heading">Are you sure?</p>
                                </div>
                                <div class="modal-body">
                                    <i class="fas fa-times fa-4x animated rotateIn"></i><br>
                                    <font color=red><b><%=testcase[i]%> (<%=testcase_size[i]%> tests)</b></font>
                                </div>
                                <div class="modal-footer flex-center">
                                    <form action="/contest/add-problem/delete-testcase" method="POST">
                                        <input type="hidden" name="testcase_path" value="<%=testcase_path[i]%>">
                                        <input type="hidden" name="contest_id" value="<%=contest_id%>">
                                        <button type="submit" class="btn btn-outline-danger">Yes</button>
                                    </form>
                                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal: modalConfirmDelete-->
                    <!--Modal: editTestcase-->
                    <div class="modal fade" id="myModal<%=i%>">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><%=testcase[i]%> (<%=testcase_size[i]%> tests)</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div data-spy="scroll" data-target="#navbar-example2" class="scrollspy-example scrollbar-light-blue">
                                            <div class="col-3">
                                                <div class="nav md-pills flex-column nav-pills" id="v-pills-tab" role="tablist"
                                                    aria-orientation="vertical">
                                                    <% for (let j = 0; j < testcase_size[i]; ++j) { %>
                                                    <a class="nav-link <%= j === 0 ? 'active' : ''%>" id="v-pills-home-tab" data-toggle="pill"
                                                        href="#v-pills-testcase<%=i%><%=j%>" role="tab"
                                                        aria-controls="v-pills-home"
                                                        aria-selected="true">Test<%=j+1%></a>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                <% for (let j = 0; j < testcase_size[i]; ++j) { %>
                                                <div class="tab-pane <%= j === 0 ? 'active' : 'fade'%>" id="v-pills-testcase<%=i%><%=j%>" role="tabpanel"
                                                    aria-labelledby="v-pills-home-tab">
                                                    <ul class="nav nav-tabs">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#input<%=i%><%=j%>">Input</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#output<%=i%><%=j%>">Output</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="input<%=i%><%=j%>">
                                                            <%= fs.readFileSync(storage.TESTCASE + contest_name + '/' + testcase[i] +'/test' + (j+1) + '/' + testcase[i] +'.inp', 'utf8') %>
                                                        </div>
                                                        <div class="tab-pane fade" id="output<%=i%><%=j%>">
                                                            <%= fs.readFileSync(storage.TESTCASE + contest_name + '/' + testcase[i] +'/test' + (j+1) + '/' + testcase[i] +'.out', 'utf8') %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Modal: editTestcase-->
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Upload problems</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Choose file (.pdf, .doc, .docx) - maximum 5MB:</label>
                        <div class="custom-file">
                            <form action="/contest/add-problem/upload-problem?contest_id=<%=contest_id%>" method="POST"
                                enctype="multipart/form-data">
                                <input type="hidden" name="contest_name" value="<%=contest_name%>">
                                <input type="hidden" name="contest_id" value="<%=contest_id%>">
                                <input type="file" class="custom-file-input" name="filetoupload"
                                    accept=".pdf, .doc, .docx">
                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                <button type="submit" class="btn btn-info btn-md"><i class="fa fa-upload"></i>
                                    Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Upload testcases</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Choose file (.zip) - maximum 5MB:</label>
                        <div class="custom-file">
                            <form action="/contest/add-problem/upload-testcase?contest_id=<%=contest_id%>" method="POST"
                                enctype="multipart/form-data">
                                <input type="hidden" name="contest_name" value="<%=contest_name%>">
                                <input type="hidden" name="contest_id" value="<%=contest_id%>">
                                <input type="file" class="custom-file-input" name="filetoupload" accept=".zip">
                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                <button type="submit" class="btn btn-info btn-md"><i class="fa fa-upload"></i>
                                    Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<%- include ("partials/footer") %>