<%- include ("partials/header") %>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb cyan lighten-4">
            <li class="breadcrumb-item"><a class="black-text" href="/contest">Contest</a></li>
            <li class="breadcrumb-item"><a class="black-text"
                    href="/contest/detail?contest_id=<%=contest_id%>">Detail</a></li>
            <li class="breadcrumb-item active">Add student</li>
        </ol>
    </nav>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold">Add students <a href="/contest/add-class">or Add new class</a></h6>
        </div>
        <div class="card-body">
            <form action="/contest/load-user" method="GET">
                <div class="form-group">
                    <label>Enter name of class</label>
                    <input type="text" class="form-control" id="class_name" name="class_name">
                    <input type="hidden" name="contest_id" value="<%=contest_id%>">
                </div>
                <button class="btn btn-primary" type="submit"><i class="fa fa-spinner"></i> Load</button>
            </form>
            <% if (message.length > 0) { %>
            <div class="alert alert-success col-sm-12"><%= message %></div>
            <% } %>
            <% if (error.length > 0) { %>
                <div class="alert alert-danger col-sm-12"><%= error %> <a href="/contest/add-class">Click here to add new class</a></div>
                <% } %>
            <% if (data.length > 0) { %>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                <center>
                                    <button type="button"
                                        style="border: none; background: transparent; font-size: 14px;"
                                        id="MyTableCheckAllButton">
                                        <i class="far fa-square"></i>
                                    </button>
                                </center>
                            </th>
                            <th></th>
                            <th>Roll number</th>
                            <th>Name</th>
                            <th>Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0, l = data.length; i < l; ++i) {%>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><%= data[i].rollnumber %></td>
                            <td><%= data[i].name %></td>
                            <td><%= data[i].class %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <button type="button" id="btnconfirm" class="btn btn-info" data-toggle="modal" data-target="#modalConfirmAdd"><i
                        class="fa fa-plus "> Add selected</i></button>
            </div>
            <!--Modal: modalConfirmDelete-->
            <div class="modal fade" id="modalConfirmAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header d-flex justify-content-center">
                            <p class="heading">Are you sure?</p>
                        </div>
                        <div class="modal-body">
                            <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i><br>
                            <font color=green><b id="totalrollnumber"></b></font>
                        </div>
                        <div class="modal-footer flex-center">
                            <form action="/contest/add-user" method="post">
                                <input type="hidden" id="list_rollnumber" name="list_rollnumber" value="">
                                <input type="hidden" name="contest_id" value="<%=contest_id%>">
                                <input type="hidden" name="class_name" value="<%=class_name%>">
                                <button type="submit" class="btn btn-outline-success">Yes</button>
                            </form>
                            <a type="button" class="btn  btn-success waves-effect" data-dismiss="modal">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal: modalConfirmDelete-->
            <% } %>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>