<%- include ("partials/header") %>
<!-- Main component for a primary marketing message or call to action -->

<div class="container">
  <div class="bc-icons">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a class="text-gray-700" href="/contest">Contest</a></li>
        <li><i class="fas fa-angle-double-right mx-2 text-gray-700" aria-hidden="true"></i></li>
        <li class="breadcrumb-item text-gray-700 font-italic">Detail</li>
      </ol>
    </nav>
  </div>
  <!-- Page Heading -->
  <h2>Total
    <%= totalStudent %> student in contest
    <%= data[0].contest_name %>
    <form method="GET" action="/contest/add-student" style="display: inline;">
      <input type="hidden" name="contest_id" value="<%=data[0].contest_id%>"/>
      <input type="hidden" name="time_begin" value="<%=dayjs(data[0].time_begin).format('DD-MM-YYYY HH:mm')%>"/>
      <input type="hidden" name="time_end" value="<%=dayjs(data[0].time_end).format('DD-MM-YYYY HH:mm')%>"/>
      <button type="submit" class="btn btn-blue waves-effect btn-sm">
        <i class="fa fa-plus"></i> Add student
      </button>
    </form>
    <button type="button" class="btn btn-blue waves-effect btn-sm"
      onclick="window.location='/contest/add-problem?contest_id=<%=data[0].contest_id%>';">
      <i class="fa fa-plus"></i> Add problem and testcase
    </button>
  </h2>
  <% if (message.length > 0) { %>
  <script>toastr.success('<%=message%>')</script>
  <% } %>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <span class="m-0 font-weight-bold text-primary">From:
      </span><%=dayjs(data[0].time_begin).format('DD-MM-YYYY, HH:mm')%> <span class="m-0 font-weight-bold text-primary"> to: 
      </span><%=dayjs(data[0].time_end).format('DD-MM-YYYY, HH:mm')%>
      <button type="button" class="btn btn-primary waves-effect waves-light btn-sm" data-toggle="modal"
        data-target="#myModal"><i class="fa fa-edit"></i> Edit</button>
      <div class="float-right">
        <% let language=data[0].language.split(","); for (let i = 0; i < language.length; ++i) { %>
        <span class="badge badge-default z-depth-0"><%=language[i]%></span>
        <% } %>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center" width="5%">
              <button type="button" style="border: none; background: transparent; font-size: 14px;"
                id="MyTableCheckAllButton"><i class="far fa-square"></i></button>
            </th>
            <th>Roll number</th>
            <th>Name</th>
            <th>Class</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0, l = data.length; i < l; ++i) {%>
          <tr>
            <td></td>
            <td>
              <%= data[i].rollnumber %>
            </td>
            <td>
              <%= data[i].name %>
            </td>
            <td>
              <%= data[i].class %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <button type="button" id="btnconfirm" class="btn btn-danger btn-sm" data-toggle="modal"
        data-target="#modalConfirmDelete" disabled><i class="fa fa-trash-alt"></i> Delete</button>
    </div>
  </div>

</div>
<!-- The Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit time</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/contest/edit-contest" method="POST" id="editContestForm">
        <div class="modal-body mx-3">
          <label class="font-weight-bold">Name</label>
          <div class="form mb-3">
            <input type="text" class="form-control" id="contest_name" name="contest_name_new"
              value="<%=data[0].contest_name%>" required>
            <input type="hidden" name="contest_name_old" value="<%=data[0].contest_name%>">
          </div>
          <label class="font-weight-bold">Enter start time</label>
          <div class="form mb-3">
            <input type="text" class="form-control" id="time_begin" name="time_begin"
              value="<%=dayjs(data[0].time_begin).format('DD-MM-YYYY HH:mm')%>" autocomplete="off" required>
          </div>
          <label class="font-weight-bold">Enter end time</label>
          <div class="form mb-3">
            <input type="text" class="form-control" id="time_end" name="time_end"
              value="<%=dayjs(data[0].time_end).format('DD-MM-YYYY HH:mm')%>" autocomplete="off" required>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="font-weight-bold">Time Limit (ms)</label>
              <div class="form mb-3">
                <input type="number" id="time_limit" min="1" name="time_limit" class="form-control" value="<%=data[0].time_limit%>" required>
              </div>
            </div>
            <div class="col-6">
              <label class="font-weight-bold">Memory Limit (MB)</label>
              <div class="form mb-3">
                <input type="number" id="memory_limit" min="1" name="memory_limit" class="form-control" value="<%=data[0].memory_limit%>" required>
              </div>
            </div>
          </div>
          <div class="form mb-3">
            <% 
              if(data[0].check_format === 'true') {
            %>
            <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_format" name="check_format" checked onclick="checkFormat()">
            <%
              } else {
            %>
            <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_format" name="check_format" onclick="checkFormat()">
            <%
              }
            %>
            <label class="font-weight-bold" for="check_format">Formatted Checking</label>
          </div>
          <div id="has_check_format" class="row" style="display: none;">
            <div class="form col-6">
              <label class="font-weight-bold">Minus point (point)</label>
              <div class="form">
                <div class="row">
                    <div class="col-10">
                      <input type="number" id="format_minus_point" name="format_minus_point" class="form-control" value="<%=data[0].format_minus_point%>" min="1" require>
                    </div>
                </div>
              </div>              
            </div>
          </div>
<!--start Comment checking-->
          <div class="row">
            <div class="form col-7">
              <% 
                if(data[0].check_comment === 'true') {
              %>
              <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_comment" name="check_comment"  onclick="checkComment()" checked>
              <%
                } else {
              %>
              <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_comment"  onclick="checkComment()" name="check_comment">
              <%
                }
              %>
              <label class="font-weight-bold" for="check_comment">Commentted Checking</label>
            </div>
            <div id="check_comment_mode_div" class="form mb-3 col-5" style="display: none;">
              <select class="mdb-select" name="check_comment_mode" id="check_comment_mode">
                <%
                  if(data[0].check_comment_mode === "Fixed") {
                %>
                <option value="Fixed" selected>Fixed</option>
                <option value="By Percentage">By Percentage</option>
                <%
                  } else {
                %>
                <option value="Fixed">Fixed</option>
                <option value="By Percentage" selected>By Percentage</option>
                <%
                  }
                %>
              </select>
            </div>
          </div>          
            <div id="has_check_comment" style="display: none;">
              <div class="row">
                <div class="col-6">
                  <label class="font-weight-bold">Percentage Accept (%)</label>
                  <div class="form mb-3">
                    <input type="number" id="percentage_accept" min="1" name="percentage_accept" class="form-control" value="<%=data[0].percentage_accept%>">
                  </div>              
                </div>
                <div class="col-6">
                  <label class="font-weight-bold" id="lb_minus_point">Minus Points (point)</label>
                  <div class="form mb-3">
                    <div class="row">
                        <div class="col-10">
                          <input type="number" id="percentage_minus_point" min="1" name="percentage_minus_point" class="form-control" value=<%=data[0].percentage_minus_point%>>
                        </div>
                    </div>
                  </div>              
                </div>
              </div>
            </div>
<!-- end Comment checking -->                        
<!-- start Plagiarism Checking-->
          <%
            if(data[0].check_plagiarism === "true") {
          %>
            <div class="form mb-3">
              <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_plagiarism" name="check_plagiarism" checked onclick="checkPlagiarism()">
              <label class="font-weight-bold" for="check_plagiarism">Plagiarism Checking</label>
            </div>
          <%
            } else {
          %>
            <div class="form mb-3">
              <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_plagiarism" name="check_plagiarism" onclick="checkPlagiarism()">
              <label class="font-weight-bold" for="check_plagiarism">Plagiarism Checking</label>
            </div>
          <%
            }
          %>
          <div id="has_check_plagiarism" class="row" style="display: none;">
            <div class="form col-6">
              <label class="font-weight-bold">Percentage Allow (%)</label>
              <div class="form">
                <div class="row">
                    <div class="col-10">
                      <input type="number" id="percentage_allow" name="percentage_allow" class="form-control" value="<%=data[0].percentage_allow%>" min="1" require>
                    </div>
                </div>
              </div>              
            </div>
          </div>
<!-- end Plagiarism Checking-->
<!-- start Penalty Mode-->
          <div class="row">
              <div class="col-6"> 
                <label class="font-weight-bold">Penalty Mode</label>
              </div>
             <div class="col-6" >
              <select class="mdb-select" name="penalty_mode" id="penalty_mode">
                <%
                  if(data[0].penalty_mode === 'Hard') {
                %>
                <option value="Hard">Hard</option>
                <option value="Easy">Easy</option>
                <%
                  } else {
                %>
                <option value="Easy">Easy</option>
                <option value="Hard">Hard</option>
                <%
                  }
                %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form col-6">
              <label class="font-weight-bold">Limit Submission</label>
              <div class="form">
                <input type="number" id="limit_submission" name="limit_submission" value="<%=data[0].limit_submission%>" class="form-control" min="1">
              </div>  
            </div>
          </div>
<!-- end Penalty Mode-->
          <label class="font-weight-bold">Language</label>
          <select class="mdb-select md-form" id="language" name="language" multiple required>
            <option disabled>Choose language</option>
            <option>C</option>
            <option>C++</option>
            <option>Java</option>
            <option>Python 3</option>
            <option>MySQL</option>
          </select>
        </div>
        <script>
            //variable for comment
            var check_comment = document.getElementById('check_comment');
            var check_comment_mode_div = document.getElementById('check_comment_mode_div');
            var check_comment_mode_ = document.getElementById('check_comment_mode');
            var has_check_comment = document.getElementById('has_check_comment');
            var lb_minus_point = document.getElementById('lb_minus_point');
            
            //variable for plagiarism
            var has_check_plagiarism = document.getElementById('has_check_plagiarism');
            var check_plagiarism = document.getElementById('check_plagiarism');
            
            //variable for format
            var has_check_format = document.getElementById('has_check_format');
            var check_format = document.getElementById('check_format');

            //var for penalty mode
            var penalty_mode = document.getElementById('penalty_mode');
            var limit_submission = document.getElementById('limit_submission');
            var limit_submission_value = 10;

            function checkComment() {
              if(check_comment.checked == true) {
                check_comment.classList.remove("mb-3");
                check_comment_mode_div.classList.remove("mb-3");
                check_comment_mode_div.style.display = "flex";
                has_check_comment.style.display = "flex";
                console.log("block");
              } else {
                check_comment_mode_div.style.display = "none";
                has_check_comment.style.display = "none";
              }
            }
            function checkNulloption() {
              if(check_comment.checked == false){
                document.getElementById('percentage_accept').value = "";
                document.getElementById('percentage_minus_point').value = "";
              }
              if(check_format.checked == false){
                document.getElementById('format_minus_point').value = "";
              }
              if(check_plagiarism.checked == false){
                document.getElementById('percentage_allow').value = "";
              }
            }
            function checkCommentMode() {
              var v = check_comment_mode.value;
              if(v === "Fixed") {
                lb_minus_point.innerHTML = "Minus Points (point)";
              } else {
                lb_minus_point.innerHTML = "Minus Points (%)";
              }
            }


            function checkFormat() {
              if(check_format.checked == true) {
                has_check_format.style.display = "flex";
              } else {
                has_check_format.style.display = "none";
              }
            }

            function checkPlagiarism() {
              if(check_plagiarism.checked == true) {
                has_check_plagiarism.style.display = "flex";
              } else {
                has_check_plagiarism.style.display = "none";
              }
            }

            function penaltyMode() {
              let p_mode = penalty_mode.value;
              if(p_mode === 'Hard') {
                limit_submission.readOnly  = true;
                if(limit_submission.value != 10)
                  limit_submission_value = limit_submission.value;
                limit_submission.value = 10;
              } else {
                limit_submission.value = limit_submission_value;
                limit_submission.readOnly  = false;
              }
            }
            //add event
            check_comment_mode.addEventListener('change', checkCommentMode);
            penalty_mode.addEventListener('change', penaltyMode);  
            //call init
            checkComment();
            checkCommentMode();
            checkFormat();
            checkPlagiarism();
            penaltyMode();
            checkNulloption();
        </script>
        <script>
          $('#time_begin, #time_end').datetimepicker({
            format: 'dd-mm-yyyy hh:ii'
          }); 
          $(document).ready(function () {
            $('.mdb-select').materialSelect();
            $("#language").val(JSON.parse('<%-JSON.stringify(data[0].language.split(","))%>')).trigger('change');
          });
        </script>
        <div class="modal-footer d-flex justify-content-center">
          <input type="hidden" name="contest_id" value="<%=data[0].contest_id%>">
          <button class="btn btn-deep-orange">Update</button>
        </div>
      </form>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("This field cannot be left blank");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
})
         $(document).ready(function() {
        $('#editContestForm').submit(function(e) {
    $(".error").remove();
    var contestName = $('#contest_name').val();
    // var regex = new RegExp('^[a-zA-Z0-9_]+$');
            if ( !/^(FA|SP|SU)\d{2}[_][A-Z]{3}\d{3}[_][A-Z]{2}\d{4}[_][a-zA-Z0-9]$/.test(contestName) ) {
                $('#contest_name').after('<span class="error">Contest name must be follow format (SU21_CPP201_SE1302) !</span>');
                e.preventDefault();
            }
    var begin = $('#time_begin').val();
    var end = $('#time_end').val();
    var y1, m1, d1, h1, mi1;
    var y2, m2, d2, h2, mi2;
    y1 = begin.split(' ')[0].split('-')[2];
    m1 = begin.split(' ')[0].split('-')[1];
    d1 = begin.split(' ')[0].split('-')[0];
    h1 = begin.split(' ')[1].split(':')[0];
    mi1 = begin.split(' ')[1].split(':')[1];
    var timeBegin = new Date(y1, m1 - 1, d1, h1, mi1,'00')
    y2 = end.split(' ')[0].split('-')[2];
    m2 = end.split(' ')[0].split('-')[1];
    d2 = end.split(' ')[0].split('-')[0];
    h2 = end.split(' ')[1].split(':')[0];
    mi2 = end.split(' ')[1].split(':')[1];
    var timeEnd = new Date(y2, m2 - 1, d2, h2, mi2,'00')    
    if(timeBegin > timeEnd){
      $('#time_end').after('<span class="error">End time must be greater than Start time !</span>');
      e.preventDefault();
    }
  });
        });
    
        </script>
    </div>
  </div>
</div>
<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>
      <div class="modal-body">
        <i class="fas fa-times fa-4x animated rotateIn"></i><br>
        <font color=red><b id="totalrollnumber"></b></font>
      </div>
      <div class="modal-footer flex-center">
        <form action="/contest/delete-student" method="POST">
          <input type="hidden" id="list_rollnumber" name="list_rollnumber">
          <input type="hidden" name="contest_id" value="<%=data[0].contest_id%>">
          <input type="hidden" name="contest_name" value="<%=data[0].contest_name%>">
          <button type="submit" class="btn btn-outline-danger">Yes</button>
        </form>
        <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">No</a>
      </div>
    </div>
  </div>
</div>
<!--Modal: modalConfirmDelete-->
<%- include ("partials/footer") %>