<%- include ("partials/header") %>
<!-- Main component for a primary marketing message or call to action -->
<div class="container">
  <div class="bc-icons">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-gray-700" href="/contest">Contest</a></li>
      </ol>
    </nav>
  </div>
  <h2>Total
    <%= data.length %> contests
    <button type="submit" class="btn btn-blue waves-effect btn-sm" data-toggle="modal" data-target="#myModal"><i
        class="fa fa-plus"></i> Add a new contest</button>
    <!-- <% if (teacher_role <= 1) { %> -->
    <!-- <button type="submit" class="btn btn-blue waves-effect btn-sm" onclick="window.location='/contest/add-class';"><i -->
        <!-- class="fa fa-plus"></i> Add a new class</button> -->
    <!-- <% } %> -->
  </h2>
  <div class="accordion md-accordion accordion-1" id="accordionEx1" role="tablist" aria-multiselectable="true">
    <% for (let i = 0, l = data.length; i < l; ++i) {%>
    <%
        var curDate = new Date()
        var status = ""
        var bagde = ""
        if (curDate < data[i].time_begin) {
            status = "primary"
            bagde = "upcoming"
        } else if (curDate >= data[i].time_begin && curDate <= data[i].time_end) {
            status = "success"
            bagde = "opening"
        } else {
            status = "gray"
            bagde = "closed"
        }
    %>
    <div class="card shadow mb-2">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample<%=i%>" class="card-header z-depth-1 grey lighten-5" data-toggle="collapse"
        role="tab" aria-expanded="true" aria-controls="collapseCardExample" data-parent="#accordionEx1">
        <h6 class="m-0 text-gray-700">
          [<%= data[i].rollnumber %>] <%= data[i].contest_name %> <span class="badge badge-pill badge-<%=status%>"><%=bagde%></span>
        </h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse" id="collapseCardExample<%=i%>" data-parent="#accordionEx1">
        <div class="card-header">
          <button type="button" class="btn btn-primary btn-sm"
            onclick="window.location='/contest/detail?contest_id=<%=data[i].contest_id%>';"><i class="fa fa-eye"></i>
            View Detail</button>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
            data-target="#modalConfirmDelete<%=i%>"><i class="fa fa-trash-alt"></i> Delete</button>
        </div>
        <div class="card-body pt-0">
          <p><span class="font-weight-bold">Start:</span> <%=dayjs(data[i].time_begin).format('DD-MM-YYYY, HH:mm')%></p>
          <p><span class="font-weight-bold">End:</span> <%=dayjs(data[i].time_end).format('DD-MM-YYYY, HH:mm')%></p>
        </div>
      </div>
    </div>
    <!--Modal: modalConfirmDelete-->
    <div class="modal fade" id="modalConfirmDelete<%=i%>" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Are you sure?</p>
          </div>
          <div class="modal-body">
            <i class="fas fa-times fa-4x animated rotateIn"></i><br>
            <font color=red><b><%= data[i].contest_name %></b></font>
          </div>
          <div class="modal-footer flex-center">
            <form action="/contest/delete-contest" method="POST">
              <input type="hidden" name="contest_id" value="<%=data[i].contest_id%>">
              <input type="hidden" name="contest_name" value="<%=data[i].contest_name%>">
              <button type="submit" class="btn btn-outline-danger">Yes</button>
            </form>
            <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
    <!--Modal: modalConfirmDelete-->
    <% } %>
  </div>
</div>
<!-- The Modal add contest-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add a new contest</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/contest/add-contest" method="POST" id="form_contest">
        <div class="modal-body mx-3">
          <label class="font-weight-bold">Name</label>
          <div class="form mb-3">
            <input type="text" id="contest_name" name="contest_name" class="form-control" autocomplete="off">
          </div>
          <label class="font-weight-bold">Enter start time</label>
          <div class="form mb-3">
            <input type="text" id="time_begin" name="time_begin" class="form-control" required autocomplete="off">
          </div>
          <label class="font-weight-bold">Enter end time</label>
          <div class="form mb-3">
            <input type="text" id="time_end" name="time_end" class="form-control" required autocomplete="off">
          </div>
          <div class="row">
            <div class="col-6">
              <label class="font-weight-bold">Time Limit (ms)</label>
              <div class="form mb-3">
                <input type="number" id="time_limit" min="1" name="time_limit" class="form-control" required>
              </div>
            </div>
            <div class="col-6">
              <label class="font-weight-bold">Memory Limit (MB)</label>
              <div class="form mb-3">
                <input type="number" id="memory_limit" min="1" name="memory_limit" class="form-control" required>
              </div>
            </div>
          </div>
<!-- start Formatted Checking-->
          <div class="form mb-3">
            <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_format" name="check_format" onclick="checkFormat()">
            <label class="font-weight-bold" for="check_format">Formatted Checking</label>
          </div>
          <div id="has_check_format" class="row" style="display: none;">
            <div class="form col-6">
              <label class="font-weight-bold">Minus point (point)</label>
              <div class="form">
                  <input type="number" id="format_minus_point" name="format_minus_point" class="form-control" />
              </div>              
            </div>
          </div>
<!-- end Formatted Checking-->
<!-- start Commentted Checking-->
          <div class="row">
            <div class="form col-7">
              <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_comment" onclick="checkComment()" name="check_comment">
              <label class="font-weight-bold" for="check_comment">Commented Checking</label>
            </div>
            <div id="check_comment_mode_div" class="col-5" style="display: none;">
              <select class="mdb-select" name="check_comment_mode" id="check_comment_mode">
                <option value="Fixed">Fixed</option>
                <option value="By Percentage">By Percentage</option>
              </select>
            </div>
          </div>
          <div id="has_check_comment" style="display: none;">
            <div class="row">
              <div class="col-6">
                <label class="font-weight-bold">Percentage Accept</label>
                <div class="form">
                  <input type="number" id="percentage_accept" name="percentage_accept" class="form-control" />
                </div>              
              </div>
              <div class="col-6">
                <label class="font-weight-bold" id="lb_minus_point">Minus Points (point)</label>
                <div class="form">
                  <input type="number" id="percentage_minus_point" name="percentage_minus_point" class="form-control" />
                </div>              
              </div>
            </div>
          </div>
<!-- end Commentted Checking-->
<!-- start Plagiarism Checking-->
          <div class="form mb-3">
            <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_plagiarism" name="check_plagiarism" onclick="checkPlagiarism();">
            <label class="font-weight-bold" for="check_plagiarism">Plagiarism Checking</label>
          </div>

          <div id="has_check_plagiarism" class="row" style="display: none;">
            <div class="form col-6">
              <label class="font-weight-bold">Percentage Allow (%)</label>
              <div class="form">
                  <input type="number" id="percentage_allow" name="percentage_allow" class="form-control" />
              </div>              
            </div>
          </div>
<!-- end Plagiarism Checking-->
<!-- start Penalty Mode-->
          <div class="row">
            <div class="col-6">
              <label class="font-weight-bold">Penalty Mode</label>
            </div>
            <div class="col-6" >
              <select class="mdb-select" name="penalty_mode" id="penalty_mode">
                <option value="Easy">Easy</option>
                <option value="Hard">Hard</option>
              </select>
            </div>
          </div>
          <div class="row">
              <div class="form col-6">
                <label class="font-weight-bold">Limit Submission</label>
                <div class="form">
                  <input type="number" id="limit_submission" name="limit_submission" class="form-control" value="10"/>
                </div>  
              </div>
          </div>
<!-- end Penalty Mode-->
          <label class="font-weight-bold">Language</label>
          <select class="mdb-select md-form" name="language" multiple required>
            <option disabled>Choose language</option>
            <option>C</option>
            <option>C++</option>
            <option>Java</option>
            <option>Python 3</option>
            <option>MySQL</option>
          </select>
        </div>
        <script>
            //variable for comment
            var check_comment = document.getElementById('check_comment');
            var check_comment_mode_div = document.getElementById('check_comment_mode_div');
            var check_comment_mode_ = document.getElementById('check_comment_mode');
            var has_check_comment = document.getElementById('has_check_comment');
            var lb_minus_point = document.getElementById('lb_minus_point');
            
            //variable for plagiarism
            var has_check_plagiarism = document.getElementById('has_check_plagiarism');
            var check_plagiarism = document.getElementById('check_plagiarism');
            
            //variable for format
            var has_check_format = document.getElementById('has_check_format');
            var check_format = document.getElementById('check_format');

            //var for penalty mode
            var penalty_mode = document.getElementById('penalty_mode');
            var limit_submission = document.getElementById('limit_submission');
            var limit_submission_value = 10;

            function checkComment() {
              if(check_comment.checked == true) {
                check_comment.classList.remove("mb-3");
                check_comment_mode_div.classList.remove("mb-3");
                check_comment_mode_div.style.display = "flex";
                has_check_comment.style.display = "flex";
                console.log("block");
              } else {
                check_comment_mode_div.style.display = "none";
                has_check_comment.style.display = "none";
              }
            }            
            function checkCommentMode() {
              var v = check_comment_mode.value;
              if(v === "Fixed") {
                lb_minus_point.innerHTML = "Minus Points (point)";
              } else {
                lb_minus_point.innerHTML = "Minus Points (%)";
              }
            }


            function checkFormat() {
              if(check_format.checked == true) {
                has_check_format.style.display = "flex";
              } else {
                has_check_format.style.display = "none";
              }
            }

            function checkPlagiarism() {
              if(check_plagiarism.checked == true) {
                has_check_plagiarism.style.display = "flex";
              } else {
                has_check_plagiarism.style.display = "none";
              }
            }

            function penaltyMode() {
              let p_mode = penalty_mode.value;
              if(p_mode === 'Hard') {
                limit_submission.readOnly = true;
                if(limit_submission.value != 10)
                  limit_submission_value = limit_submission.value;
                limit_submission.value = 10;
              } else {
                limit_submission.value = limit_submission_value;
                limit_submission.readOnly = false;
              }
            }
            //add event
            check_comment_mode.addEventListener('change', checkCommentMode);
            penalty_mode.addEventListener('change', penaltyMode); 
            

        </script>
        <script>
        console.log("block");
          $('#time_begin, #time_end').datetimepicker({
            format: 'dd-mm-yyyy hh:ii'
          });
          $(document).ready(function () {
            $('.mdb-select').materialSelect();
          });
        </script>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-deep-orange">Add</button>
        </div>
      </form>
      <!-- check if it is having any message, then show it TuPTA-->
        <% if (message.length > 0) { %>
          <script>toastr.success('<%=message%>')</script>
        <% } %>
         <!-- check validation form add contest -->
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var elements = document.getElementsByTagName("INPUT");
          for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function(e) {
              e.target.setCustomValidity("");
              if (!e.target.validity.valid) {
                e.target.setCustomValidity("This field cannot be left blank");
              }
            }
            elements[i].oninput = function(e) {
              e.target.setCustomValidity("");
            }
          }
        });   

        $(document).ready(function() {
            $.get("contest/contest-all", function(data, status){
                $('#form_contest').submit(function(e) {
                    $(".error").remove();
                    //validation contest name
                    var contestName = $('#contest_name').val();
                    let contest_name_validation = true;    
                    if(contestName === '') {
                      $('#contest_name').after('<span class="error">Contest name cannot be empty!</span>');
                      contest_name_validation = false;
                    }
                    if (contest_name_validation && (!/^(FA|SP|SU)\d{2}[_][A-Z]{3}\d{3}[_][A-Z]{2}\d{4}(|[.][A-Z]{2})[_]\w+$/.test(contestName))) {
                      $('#contest_name').after('<span class="error">Contest name must be follow format (Ex: SU21_CPP201_SE1302_1) !</span>');
                      contest_name_validation = false
                      // e.preventDefault();
                    }
                   
                    for(let i = 0, l = data.data.length; i < l; ++i){
                        if(contestName === data.data[i].contest_name){
                          $('#contest_name').after('<span class="error">Contest name already exists. Please enter another contest name!</span>');
                          contest_name_validation = false;
                          break;
                      }        
                    }
                    if(!contest_name_validation){
                      e.preventDefault();
                    }
                    //time begin, time end
                    var begin = $('#time_begin').val();
                    var end = $('#time_end').val();
                    var y1, m1, d1, h1, mi1;
                    var y2, m2, d2, h2, mi2;
                    y1 = begin.split(' ')[0].split('-')[2];
                    m1 = begin.split(' ')[0].split('-')[1];
                    d1 = begin.split(' ')[0].split('-')[0];
                    h1 = begin.split(' ')[1].split(':')[0];
                    mi1 = begin.split(' ')[1].split(':')[1];
                    var timeBegin = new Date(y1, m1 - 1, d1, h1, mi1,'00')
                    y2 = end.split(' ')[0].split('-')[2];
                    m2 = end.split(' ')[0].split('-')[1];
                    d2 = end.split(' ')[0].split('-')[0];
                    h2 = end.split(' ')[1].split(':')[0];
                    mi2 = end.split(' ')[1].split(':')[1];
                    var timeEnd = new Date(y2, m2 - 1, d2, h2, mi2,'00')
                    var currentTime = new Date()
                    if(timeBegin > timeEnd){
                      $('#time_end').after('<span class="error">End time must be greater than Start time !</span>');
                      // e.preventDefault();
                    }
                    if(currentTime > timeBegin ){
                      $('#time_begin').after('<span class="error">The start time must be in the future !</span>');
                      // e.preventDefault();
                    }
                    //format validation
                    let format_validation = true;
                    if($('#check_format').is(":checked")) {
                      let minus_format = $('#format_minus_point');
                      if(minus_format.val() === '') {
                        $('#format_minus_point').after('<span class="error">Minus point cannot empty!</span>');
                        format_validation = false;
                      }
                      if(format_validation && (minus_format.val() < 0 || minus_format.val() > 9)) {
                        $('#format_minus_point').after('<span class="error">Minus point must be from 0 to 9!</span>');
                        format_validation = false;
                      }
                    } 
                    if (!format_validation) {
                      e.preventDefault();
                    }
                    //comment validation
                    let comment_validation = true;
                    let point_comment_validation = true;
                    if($('#check_comment').is(":checked")) {
                      let minus_comment = $('#percentage_minus_point');
                      let comment_percentage_accept = $('#percentage_accept');
                      if(comment_percentage_accept.val() === '') {
                        comment_percentage_accept.after('<span class="error">Percentage accept cannot be empty!</span>');
                        comment_validation = false;
                      }
                      if(comment_validation && (comment_percentage_accept.val() < 0 || 
                        comment_percentage_accept.val() > 100)) {
                        comment_percentage_accept.after('<span class="error">Percentage accept must be from 0 to 100!</span>');
                        comment_validation = false;
                      }

                      if(minus_comment.val() === '') {
                        minus_comment.after('<span class="error">Minus point cannot be empty!</span>');
                        point_comment_validation = false;
                      }
                      if(point_comment_validation && (minus_comment.val() < 0 || minus_comment.val() > 9)) {
                        minus_comment.after('<span class="error">Minus point must be from 0 to 9!</span>');
                        point_comment_validation = false;
                      }
                    } 

                    if(!comment_validation) {
                      e.preventDefault();
                    }
                    if(!point_comment_validation) {
                      e.preventDefault();
                    }
                    //plagiarism validation
                    let plagiarism_validation = true;
                    if($('#check_plagiarism').is(':checked')) {
                      let percentage_plagiarism =  $('#percentage_allow');
                      if(percentage_plagiarism.val() === '') {
                        percentage_plagiarism.after('<span class="error">Percentage allow cannot be empty!</span>');
                        plagiarism_validation = false;
                      }

                      if(plagiarism_validation && (percentage_plagiarism.val() < 0 
                        || percentage_plagiarism.val() > 100)) {
                        percentage_plagiarism.after('<span class="error">Percentage allow must be from 0 to 100!</span>');
                        plagiarism_validation = false; 
                      }
                    }

                    if(!plagiarism_validation) {
                      e.preventDefault();
                    }
                    //limit submission
                    let limit_submission_validation = $('#limit_submission');
                    let limit_submission_validation_check = true;
                    if(limit_submission_validation.val() === '') {
                      limit_submission_validation_check = false;
                      limit_submission_validation.after('<span class="error">Limit submission cannot be empty!</span>');
                    }
                    if(limit_submission_validation_check && limit_submission_validation.val() < 1) {
                      limit_submission_validation_check = false;
                      limit_submission_validation.after('<span class="error">Limit submission must be greater than 0!</span>'); 
                    }
                    if(!limit_submission_validation_check) {
                      e.preventDefault();
                    }

                });
            });
        });
      </script>
        <!-- check if it is having any error, then show it TuPTA -->
        <% if (error.length > 0) { %>
        <script>toastr.error('<%=error%>')</script>
        <% } %>

    </div>
  </div>
</div>
        
<!-- The Modal add contest-->
<%- include ("partials/footer") %>