<%- include ("partials/header") %>
<!-- Main component for a primary marketing message or call to action -->
<div class="container">
    <div class="bc-icons">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="text-gray-700" href="/contest">Contest</a></li>
            </ol>
          </nav>
    </div>
    <h2>Total
        <%= data.length %> contests
        <button type="submit" class="btn btn-outline-blue waves-effect btn-sm" data-toggle="modal" data-target="#myModal"><i
                class="fa fa-plus fa-lg"></i> Add a new contest</button>
        <button type="submit" class="btn btn-outline-blue waves-effect btn-sm" onclick="window.location='/contest/add-class';"><i class="fa fa-plus fa-lg"></i> Add a new class</button>
    </h2>
    <div class="accordion md-accordion accordion-1" id="accordionEx1" role="tablist" aria-multiselectable="true">
    <% for (let i = 0, l = data.length; i < l; ++i) {%>
    <%
        var curDate = new Date()
        var status = ""
        var bagde = ""
        if (curDate < data[i].time_begin) {
            status = "primary"
            bagde = "upcoming"
        } else if (curDate >= data[i].time_begin && curDate <= data[i].time_end) {
            status = "success"
            bagde = "opening"
        } else {
            status = "gray"
            bagde = "closed"
        }
    %>
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample<%=i%>"class="card-header grey lighten-5" data-toggle="collapse" role="tab"
            aria-expanded="true" aria-controls="collapseCardExample" data-parent="#accordionEx1">
            <h6 class="m-0 text-gray-700">
                <%= data[i].contest_name %> <span class="badge badge-pill badge-<%=status%>"><%=bagde%></span>
            </h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="collapseCardExample<%=i%>" data-parent="#accordionEx1">
            <div class="card-header">
                <button type="button" class="btn btn-info btn-sm"
                        onclick="window.location='/contest/detail?contest_id=<%=data[i].contest_id%>';"><i class="fa fa-eye"></i> View Detail</button>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#modalConfirmDelete<%=i%>"><i class="fa fa-trash-alt"></i> Delete</button>
            </div>
            <div class="card-body">
                <p><strong>Start:</strong> <%=data[i].time_begin1%></p>
                <p><strong>End:</strong> <%=data[i].time_end1%></p>
            </div>
        </div>
    </div>
    <!--Modal: modalConfirmDelete-->
    <div class="modal fade" id="modalConfirmDelete<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <div class="modal-content text-center">
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure?</p>
                </div>
                <div class="modal-body">
                    <i class="fas fa-times fa-4x animated rotateIn"></i><br>
                    <font color=red><b><%= data[i].contest_name %></b></font>
                </div>
                <div class="modal-footer flex-center">
                    <form action="/contest/delete-contest" method="POST">
                        <input type="hidden" name="contest_id" value="<%=data[i].contest_id%>">
                        <button type="submit" class="btn btn-outline-danger">Yes</button>
                    </form>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>
    <!--Modal: modalConfirmDelete-->
    <% } %>
</div>
</div>
<!-- The Modal add contest-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add a new contest</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/contest/add-contest" method="POST">
                    <div class="form-group">
                        <label>Enter name of contest</label>
                        <input type="text" class="form-control" id="contest_name" name="contest_name">
                        <label>Enter start time</label>
                        <input type="datetime-local" class="form-control" id="starttime" name="starttime">
                        <label>Enter end time</label>
                        <input type="datetime-local" class="form-control" id="endtime" name="endtime">
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-plus"></i> Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- The Modal add contest-->

<%- include ("partials/footer") %>