<%- include ("partials/header") %>
<!-- Main component for a primary marketing message or call to action -->
<div class="container">
  <div class="bc-icons">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-gray-700" href="/contest">Contest</a></li>
      </ol>
    </nav>
  </div>
  <h2>Total
    <%= data.length %> contests
    <button type="submit" class="btn btn-blue waves-effect btn-sm" data-toggle="modal" data-target="#myModal"><i
        class="fa fa-plus"></i> Add a new contest</button>
    <% if (teacher_role <= 1) { %>
    <button type="submit" class="btn btn-blue waves-effect btn-sm" onclick="window.location='/contest/add-class';"><i
        class="fa fa-plus"></i> Add a new class</button>
    <% } %>
  </h2>
  <div class="accordion md-accordion accordion-1" id="accordionEx1" role="tablist" aria-multiselectable="true">
    <% for (let i = 0, l = data.length; i < l; ++i) {%>
    <%
        var curDate = new Date()
        var status = ""
        var bagde = ""
        if (curDate < data[i].time_begin) {
            status = "primary"
            bagde = "upcoming"
        } else if (curDate >= data[i].time_begin && curDate <= data[i].time_end) {
            status = "success"
            bagde = "opening"
        } else {
            status = "gray"
            bagde = "closed"
        }
    %>
    <div class="card shadow mb-2">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample<%=i%>" class="card-header z-depth-1 grey lighten-5" data-toggle="collapse"
        role="tab" aria-expanded="true" aria-controls="collapseCardExample" data-parent="#accordionEx1">
        <h6 class="m-0 text-gray-700">
          [<%= data[i].rollnumber %>] <%= data[i].contest_name %> <span class="badge badge-pill badge-<%=status%>"><%=bagde%></span>
        </h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse" id="collapseCardExample<%=i%>" data-parent="#accordionEx1">
        <div class="card-header">
          <button type="button" class="btn btn-primary btn-sm"
            onclick="window.location='/contest/detail?contest_id=<%=data[i].contest_id%>';"><i class="fa fa-eye"></i>
            View Detail</button>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
            data-target="#modalConfirmDelete<%=i%>"><i class="fa fa-trash-alt"></i> Delete</button>
        </div>
        <div class="card-body pt-0">
          <p><span class="font-weight-bold">Start:</span> <%=dayjs(data[i].time_begin).format('DD-MM-YYYY, HH:mm')%></p>
          <p><span class="font-weight-bold">End:</span> <%=dayjs(data[i].time_end).format('DD-MM-YYYY, HH:mm')%></p>
        </div>
      </div>
    </div>
    <!--Modal: modalConfirmDelete-->
    <div class="modal fade" id="modalConfirmDelete<%=i%>" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Are you sure?</p>
          </div>
          <div class="modal-body">
            <i class="fas fa-times fa-4x animated rotateIn"></i><br>
            <font color=red><b><%= data[i].contest_name %></b></font>
          </div>
          <div class="modal-footer flex-center">
            <form action="/contest/delete-contest" method="POST">
              <input type="hidden" name="contest_id" value="<%=data[i].contest_id%>">
              <input type="hidden" name="contest_name" value="<%=data[i].contest_name%>">
              <button type="submit" class="btn btn-outline-danger">Yes</button>
            </form>
            <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
    <!--Modal: modalConfirmDelete-->
    <% } %>
  </div>
</div>
<!-- The Modal add contest-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add a new contest</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/contest/add-contest" method="POST" id="form_contest">
        <div class="modal-body mx-3">
          <label class="font-weight-bold">Name</label>
          <div class="form mb-3">
            <input type="text" id="contest_name" name="contest_name" class="form-control" required>
          </div>
          <label class="font-weight-bold">Enter start time</label>
          <div class="form mb-3">
            <input type="text" id="time_begin" name="time_begin" class="form-control" required>
          </div>
          <label class="font-weight-bold">Enter end time</label>
          <div class="form mb-3">
            <input type="text" id="time_end" name="time_end" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="font-weight-bold">Time Limit (ms)</label>
              <div class="form mb-3">
                <input type="number" id="time_limit" min="1" name="time_limit" class="form-control" required>
              </div>
            </div>
            <div class="col-6">
              <label class="font-weight-bold">Memory Limit (MB)</label>
              <div class="form mb-3">
                <input type="number" id="memory_limit" min="1" name="memory_limit" class="form-control" required>
              </div>
            </div>
          </div>
<!-- start Formatted Checking-->
          <div class="form mb-3">
            <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_format" name="check_format" onclick="checkFormat()">
            <label class="font-weight-bold" for="check_format">Formatted Checking</label>
          </div>
          <div id="has_check_format" class="row" style="display: none;">
            <div class="form col-6">
              <label class="font-weight-bold">Minus point (point)</label>
              <div class="form">
                <div class="row">
                    <div class="col-10">
                      <input type="number" id="format_minus_point" name="format_minus_point" class="form-control">
                    </div>
                </div>
              </div>              
            </div>
          </div>
<!-- end Formatted Checking-->
<!-- start Commentted Checking-->
          <div class="row">
            <div class="form col-7">
              <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_comment" onclick="checkComment()" name="check_comment">
              <label class="font-weight-bold" for="check_comment">Commentted Checking</label>
            </div>
            <div id="check_comment_mode_div" class="form mb-3 col-5" style="display: none;">
              <select class="mdb-select" name="check_comment_mode" id="check_comment_mode">
                <option value="Fixed">Fixed</option>
                <option value="By Percentage">By Percentage</option>
              </select>
            </div>
          </div>
          <div id="has_check_comment" style="display: none;">
            <div class="row">
              <div class="col-6">
                <label class="font-weight-bold">Percentage Accept</label>
                <div class="form mb-3">
                  <div class="row">
                      <div class="col-10"> 
                        <input type="number" id="percentage_accept" min="1" name="percentage_accept" class="form-control" require>
                      </div>
                      <div class="col-2">
                      </div>
                  </div>
                </div>              
              </div>
              <div class="col-6">
                <label class="font-weight-bold" id="lb_minus_point">Minus Points (point)</label>
                <div class="form mb-3">
                  <div class="row">
                      <div class="col-10">
                        <input type="number" id="percentage_minus_point" min="1" name="percentage_minus_point" class="form-control" require>
                      </div>
                  </div>
                </div>              
              </div>
            </div>
          </div>
<!-- end Commentted Checking-->
<!-- start Plagiarism Checking-->
          <div class="form mb-3">
            <input type="checkbox" style="pointer-events: auto; width:4rem; z-index: 10; cursor:pointer;"  class="form-check-input" id="check_plagiarism" name="check_plagiarism" onclick="checkPlagiarism();">
            <label class="font-weight-bold" for="check_plagiarism">Plagiarism Checking</label>
          </div>

          <div id="has_check_plagiarism" class="row" style="display: none;">
            <div class="form col-6">
              <label class="font-weight-bold">Percentage Allow (%)</label>
              <div class="form">
                <div class="row">
                    <div class="col-10">
                      <input type="number" id="percentage_allow" name="percentage_allow" class="form-control">
                    </div>
                </div>
              </div>              
            </div>
          </div>
<!-- end Plagiarism Checking-->
          <label class="font-weight-bold">Language</label>
          <select class="mdb-select md-form" name="language" multiple required>
            <option disabled>Choose language</option>
            <option>C</option>
            <option>C++</option>
            <option>Java</option>
            <option>Python 3</option>
            <option>MySQL</option>
          </select>
        </div>
        <script>
            //variable for comment
            var check_comment = document.getElementById('check_comment');
            var check_comment_mode_div = document.getElementById('check_comment_mode_div');
            var check_comment_mode_ = document.getElementById('check_comment_mode');
            var has_check_comment = document.getElementById('has_check_comment');
            var lb_minus_point = document.getElementById('lb_minus_point');
            
            //variable for plagiarism
            var has_check_plagiarism = document.getElementById('has_check_plagiarism');
            var check_plagiarism = document.getElementById('check_plagiarism');
            
            //variable for format
            var has_check_format = document.getElementById('has_check_format');
            var check_format = document.getElementById('check_format');
            function checkComment() {
              if(check_comment.checked == true) {
                check_comment.classList.remove("mb-3");
                check_comment_mode_div.classList.remove("mb-3");
                check_comment_mode_div.style.display = "flex";
                has_check_comment.style.display = "flex";
                console.log("block");
              } else {
                check_comment_mode_div.style.display = "none";
                has_check_comment.style.display = "none";
              }
            }
            
            function checkCommentMode() {
              var v = check_comment_mode.value;
              if(v === "Fixed") {
                lb_minus_point.innerHTML = "Minus Points (point)";
              } else {
                lb_minus_point.innerHTML = "Minus Points (%)";
              }
            }


            function checkFormat() {
              if(check_format.checked == true) {
                has_check_format.style.display = "flex";
              } else {
                has_check_format.style.display = "none";
              }
            }

            function checkPlagiarism() {
              if(check_plagiarism.checked == true) {
                has_check_plagiarism.style.display = "flex";
              } else {
                has_check_plagiarism.style.display = "none";
              }
            }
            //add event
            check_comment_mode.addEventListener('change', checkCommentMode); 
        </script>
        <script>
        console.log("block");
          $('#time_begin, #time_end').datetimepicker({
            format: 'dd-mm-yyyy hh:ii'
          });
          $(document).ready(function () {
            $('.mdb-select').materialSelect();
          });
        </script>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-deep-orange">Add</button>
        </div>
      </form>
      <!-- check if it is having any message, then show it TuPTA-->
      <% if (message.length > 0) { %>
        <script>toastr.success('<%=message%>')</script>
        <% } %>
         <!-- check validation form add contest -->
        <script>
         $(document).ready(function() {
        $('#form_contest').submit(function(e) {
    var time_limit = $('#time_limit').val();
    var memory_limit = $('#memory_limit').val();
    $(".error").remove();
    if (time_limit < 0) {
      
      $('#time_limit').after('<span class="error">Time limit must be greater than 0 !</span>');
      e.preventDefault();
    }
    if (memory_limit < 0) {
      $('#memory_limit').after('<span class="error">Memory limit must be greater than 0 !</span>');
      e.preventDefault();
    }
    var begin = $('#time_begin').val();
    var end = $('#time_end').val();
    if(begin > end ){
      $('#time_end').after('<span class="error">End time must be greater than Start time !</span>');
      e.preventDefault();
    }
    var dt = new Date();
    var dateTime = 
    (`${dt.getDate().toString().padStart(2, '0')}-${
    (dt.getMonth()+1).toString().padStart(2, '0')}-${
    dt.getFullYear().toString().padStart(4, '0')} ${
    dt.getHours().toString().padStart(2, '0')}:${
    dt.getMinutes().toString().padStart(2, '0')}`
);
    console.log(dateTime)
      console.log("aaaaaaaaaaa")
    if(dateTime > begin){
      $('#time_begin').after('<span class="error">The start time must be in the future !</span>');
      e.preventDefault();
    }
  });
        });
    
        </script>
        <!-- check if it is having any error, then show it TuPTA -->
        <% if (error.length > 0) { %>
        <script>toastr.error('<%=error%>')</script>
        <% } %>

    </div>
  </div>
</div>
        
<!-- The Modal add contest-->
<%- include ("partials/footer") %>