<%- include ("partials/header") %>

<div class="container">

    <% if (message.length > 0) { %>
    <div class="alert alert-danger col-sm-12"><%= message %></div>
    <% } else { %>
    <script>
        var datajson;
        var index = [];
        $(document).ready(function () {
            var x = setInterval(function () {
                var pro = (new Date().getTime() - parseInt('<%=data[0].time_begin.getTime()%>')) / (parseInt('<%=data[0].time_end.getTime()%>') - parseInt('<%=data[0].time_begin.getTime()%>')) * 100;

                if (pro < 100 && pro > 0) {
                    $('#progress').attr('style', 'width:' + pro + '%');
                    $('#progress').text((pro | 0).toString() + '%');
                } else {
                    $('#progress').attr('style', 'width:100%');
                    $('#progress').attr('class', 'progress-bar progress-bar-striped bg-danger');
                    $('#progress').text('The Contest is Over');
                    clearInterval(x);
                    return;
                }

            }, 100);

            var example_table = $('#dataTableRank').DataTable({
                "ajax": "/contest/load-rank?contest_id=<%=data[0].contest_id%>",
                "columnDefs": [{
                    "targets": [0, 1],
                    "render": function (data, type, row, meta) {
                        return '<a href="/contest/detail-rank?rollnumber=' + row[0] + '">'+data+'</a>';
                    }
                }],
                "dom": 'lBfrtip',
                buttons: [{
                    extend: 'excelHtml5',
                    text: '<li class="fa fa-file-excel"></li> Export to Excel',
                    title: '<%=data[0].contest_name%>',

                    download: 'open',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                }]
            });
            setInterval(function () {
                example_table.ajax.reload();
            }, 5000);
        });
    </script>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb cyan lighten-4">
            <li class="breadcrumb-item"><a class="black-text" href="/contest/rank">Contest</a></li>
            <li class="breadcrumb-item active"><%= data[0].contest_name %></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-3 text-left no-pad">
            <h4><b>Start</b></h4>
            <%= data[0].time_begin1 %>
        </div>
        <div class="col-md-6 text-center">
            <h2 class="title">Contest <%= data[0].contest_name %></h2>
        </div>
        <div class="col-md-3 text-right no-pad">
            <h4><b>End</b></h4>
            <%= data[0].time_end1 %>
        </div>
        </div>
    <div class="progress">
        <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
    </div>
    <br />
    <div class="card shadow mb-4">
        <div class="card-body">
            <table id="dataTableRank" class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Roll number</th>
                        <th>Name</th>
                        <th>Class</th>
                        <% for (let i = 0, l = problem_files.length; i < l; ++i) { %>
                        <th>
                            <a href="/debai/<%data[0].contest_name%>/<%=problem_files[i]%>" target="_blank"
                                data-toggle="tooltip" data-placement="bottom"
                                title="<%=problem_files[i].split('.')[0]%>"><%= problem_files[i].split('-')[0] %></a>
                        </th>
                        <% } %>
                        <th>Total</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <% } %>
</div>
<%- include ("partials/footer") %>