<%- include ("partials/header" ) %>
<script>
  $(document).ready(function () {

  })
</script>
<div class="container">
  <% if (error.length > 0) { %>
  <div class="alert alert-danger col-sm-12"><%= error %></div>
  <% } else { %>
  <% 
        var rescheck = []
        var score = []
        var timeLimit = []
        var memoryLimit = []
        var logcontent = ''
        var tmp = ''
        var pen = []
        var tmp_pen = {}
        var tmp_maxtimes = []
        for (let i = 0, l = debai.length; i < l; ++i) { 
          tmp_pen[debai[i]] = 0
        }
        for (let i = 0, l = log_files.length; i < l; ++i) {
            tmp = log_files[i].split('][')[log_files[i].split('][').length - 1].split('].')[0]
            logcontent = fs.existsSync(storage.NOPBAI + 'Logs/' + contest_name.replace(/ /g, '-') + '/' + log_files[i]) ? fs.readFileSync(storage.NOPBAI + 'Logs/' + contest_name.replace(/ /g, '-') + '/' + log_files[i], 'utf8') : ""
            if (logcontent) {
                pen.push(tmp_pen[tmp]++)
                tmp_maxtimes.push(maxtimes[tmp])
                if (logcontent.split('\n')[0].includes('Error')) {
                    rescheck.push('0/' + testcase_size[i])
                    score.push(0)
                    timeLimit.push('0s')
                    memoryLimit.push('0MB')
                } else {
                    rescheck.push(parseInt(parseFloat(logcontent.split('\n')[0]) * testcase_size[i] / 10) + '/' + testcase_size[i])
                    score.push(parseFloat(logcontent.split('\n')[0]))
                    if (logcontent.split('\n')[1].split(': ')[1] > 1000) {
                        timeLimit.push('> 1s')
                    } else {
                        timeLimit.push((logcontent.split('\n')[1].split(': ')[1] / 1000).toFixed(2) + 's')
                    }
                    if (logcontent.split('\n')[2].split(': ')[1] > 1000) {
                        memoryLimit.push('> 1000MB')
                    } else {
                        memoryLimit.push(logcontent.split('\n')[2].split(': ')[1] + 'MB')
                    }
                }
            }
        }
        for (let i = 0, l = log_files.length; i < l; ++i) {
          score[i] = score[i] * (tmp_maxtimes[i] - pen[i]) / tmp_maxtimes[i]
        }
    %>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <span class="badge badge-danger">Hot</span> <a href="#" data-toggle="modal" data-target="#myModalTutorial">Submission Guide</a>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="text-center">
        <h4>Contest <%= contest_name %></h4>
        <div id="timer" class=""></div><br>
        <h3><%=name%> - <%=rollnumber%></h3><br>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs nav-justified md-tabs deep-orange darken-2" id="myTabJust" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="problem-tab-just" data-toggle="tab" href="#problem-just" role="tab"
        aria-controls="problem-just" aria-selected="false">Problem</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="submit-tab-just" data-toggle="tab" href="#submit-just" role="tab"
        aria-controls="submit-just" aria-selected="true">Submit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="history-tab-just" data-toggle="tab" href="#history-just" role="tab"
        aria-controls="history-just" aria-selected="false">History</a>
    </li>
  </ul>
  <div class="tab-content card pt-5" id="myTabContentJust">
    <div class="tab-pane fade show active" id="problem-just" role="tabpanel" aria-labelledby="problem-tab-just">
      <% if (new Date() - new Date(time_begin) > 0) { %>
      <div class="table-responsive">
        <table class="table" align="center" id="datatableSubmission" width="95%" cellspacing="0">
          <thead>
            <tr>
              <th class="font-weight-bold" width="10%">ID</th>
              <th class="font-weight-bold" width="20%">Problem</th>
              <th class="font-weight-bold" width="45%">Result</th>
              <th class="font-weight-bold" width="20%">Error</th>
              <th class="font-weight-bold text-right" width="5%">Score</th>
            </tr>
          </thead>
        </table>
      </div>
      <% } else { %>
      <p>
        <font color=red><b>The contest has not started</b></font>
      </p>
      <% } %>

    </div>
    <div class="tab-pane fade" id="submit-just" role="tabpanel" aria-labelledby="submit-tab-just">
      <% if (message.length > 0) { 
                if (message == "Submit error!") { %>
      <script>toastr.error('<%=message%>')</script>
      <% } else { %>
      <script>toastr.success('<%=message%>')</script>
      <% } %>
      <% } %>
      <% if (new Date() - new Date(time_begin) > 0 && new Date(time_end) - new Date() > 0) { %>
      <form action="/submission/submit" method="POST" enctype="multipart/form-data">
        <div id="editorsubmit" style="height: 300px;"></div>
        <input type="hidden" name="content" id="content">
        <% if (role == "Teacher") { %>
        <input type="hidden" name="contest_id" id="contest_id" value="<%=contest_id%>">
        <% } %>
        <script type="text/javascript">
          var input = $('#content');
          var editorsubmit = ace.edit("editorsubmit");
          editorsubmit.getSession().setMode("ace/mode/c_cpp");
          document.getElementById('editorsubmit').style.fontSize = '15px';
          editorsubmit.getSession().on('change', function () {
            input.val(editorsubmit.getSession().getValue());
          });
          input.val(editorsubmit.getSession().getValue());
        </script>
        <div class="file_upload" id="file_upload" style="display: none;">
          <div class="message">
            <h4 id="fileupload">Drag &amp; drop a file here to upload</h4>
            <i class="font-weight-bold text-gray-500">(Or click and choose file)</i>
          </div>
          <input type="file" name="filetoupload" id="filetoupload" accept=".c, .cpp, .py, .sql">
        </div>
        <a class="open-ace" id="editor">
          <div class="switch_button">
            <div class="message font-weight-bold" id="switch-mess">
              Switch to file upload
            </div>
          </div>
        </a>
        <div class="row mt-3">
          <div class="col-3">
            <label class="font-weight-bold">Problem ID</label>
            <select class="form-control" name="tenbai" id="tenbai">
              <% for (let i = 0, l = debai.length; i < l; ++i) { %>
              <option><%= debai[i] %></option>
              <% } %>
            </select>
          </div>
          <div class="col-3">
            <label class="font-weight-bold">Language</label>
            <select class="form-control" id="language" name="language">
            </select>
          </div>
          <div class="col-6 mt-4">
            <button type="submit" id="submit" class="btn white-text orange darken-3 btn-md"><i class="fa fa-upload"></i>
              Submit</button>
          </div>
        </div>
      </form>
      <script>
        var language = JSON.parse('<%-JSON.stringify(language.split(","))%>');
        $.each(language, function (i, item) {
          $('#language').append($('<option>', { 
            text : item 
          }));
        });
        var times = JSON.parse('<%-JSON.stringify(clonetimes)%>');
        $('#tenbai').change(function () {
          if (times[$('#tenbai').val()] <= 0) {
            $('#submit').prop('disabled', true);
          } else {
            $('#submit').prop('disabled', false);
          }
          $('#submit').html("<i class='fa fa-upload'></i> Submit (" + times[$('#tenbai').val()] + ")");
        });
        $('#tenbai').change();
        $('#filetoupload').change(function () {
          if ($("#filetoupload").val() !== "") {
            if (this.files[0].size / 1024 / 1024 > 2) {
              $("#fileupload").html("File size cannot be more than 2MB");
              $("#filetoupload").val('');
            } else {
              $("#fileupload").html($("#filetoupload").val().split("\\").pop());
            }
          } else {
            $("#fileupload").html("Drag &amp; drop a file here to upload");
          }
        });
        $('#editor').click(function () {
          if ($('#file_upload').is(":visible")) {
            $("#switch-mess").text("Switch to file upload");
            $("#file_upload").hide();
            $("#editorsubmit").show();
          } else {
            $("#switch-mess").text("Switch to editor");
            $("#file_upload").show();
            $("#editorsubmit").hide();
          }
        });
      </script>
      <% } else if (new Date() - new Date(time_begin) > 0 ) { %>
      <p>
        <font color=red><b>The contest is over</b></font>
      </p>
      <% } else { %>
      <p>
        <font color=red><b>The contest has not started</b></font>
      </p>
      <% } %>
    </div>
    <div class="tab-pane fade" id="history-just" role="tabpanel" aria-labelledby="history-tab-just">
      <% if (new Date() - new Date(time_begin > 0)) { %>
      <div class="table-responsive">
        <table class="table table-hover" id="dataTableHistory" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="font-weight-bold">#</th>
              <th class="font-weight-bold">Submit Time</th>
              <th class="font-weight-bold">Problem</th>
              <th class="font-weight-bold">Language</th>
              <th class="font-weight-bold">Time</th>
              <th class="font-weight-bold">Memory</th>
              <th class="font-weight-bold">TestCase</th>
              <th class="font-weight-bold">Score</th>
              <th class="font-weight-bold">Penalty</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = bailam.length-1; i >= 0; --i) {
                        var mtime = fs.existsSync(bailam[i]) ? fs.statSync(bailam[i]).mtime : ""; 
                        var tenbai = bailam[i].split('][')[4].replace('].', '.');
                        var filedate = dayjs(mtime).format('DD-MM-YYYY, HH:mm:ss')
                        %>
            <tr href="#" data-toggle="modal" data-target="#myModal<%=i%>">
              <td>
                <%=Math.abs(i-bailam.length)%>
              </td>
              <td>
                <%=filedate%>
              </td>
              <td>
                <%=tenbai.split('.')[0]%>
              </td>
              <td>
                <%=tenbai.split('.')[1].toUpperCase()%>
              </td>
              <td>
                <%=timeLimit[i]%>
              </td>
              <td>
                <%=memoryLimit[i]%>
              </td>
              <td>
                <%=rescheck[i]%>
              </td>
              <td>
                <%=score[i] ? score[i].toFixed(1) : "0.0"%>
              </td>
              <td class="<%=pen[i]==0?'text-success':'text-danger'%> font-weight-bold">
                <%=pen[i]==0 ? 'OK' : '-'+pen[i] / tmp_maxtimes[i]*100+'%'%>
              </td>
            </tr>
            <div class="modal fade" id="myModal<%=i%>">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><%= filedate %> - <%= tenbai %></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div id="editor<%=i%>" style="height: 360px;"><%= fs.existsSync(bailam[i]) ? fs.readFileSync(bailam[i], 'utf8') : "" %></div>
                    <script type="text/javascript">
                      var editor = ace.edit('editor<%=i%>');
                      editor.setOptions({
                        readOnly: true
                      })
                      editor.renderer.$cursorLayer.element.style.opacity = 0
                      editor.getSession().setMode("ace/mode/c_cpp");
                      document.getElementById('editor<%=i%>').style.fontSize = '15px';
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </tbody>
        </table>
      </div>
      <%} else { %>
      <p>
        <font color=red><b>The contest has not started</b></font>
      </p>
      <% } %>
    </div>
  </div>
  <script>
    var countUpDate = "<%=new Date(time_begin).getTime() %>",
      countDownDate = "<%=new Date(time_end).getTime() %>",
      now = (new Date).getTime();
    if (countDownDate - now <= 0) document.getElementById("timer").innerHTML = "<font color=red>Contest is over</font>";
    else if (countUpDate - now >= 0) {
      var distance = countUpDate - now,
        days = Math.floor(distance / 864e5),
        hours = Math.floor(distance % 864e5 / 36e5),
        minutes = Math.floor(distance % 36e5 / 6e4),
        seconds = Math.floor(distance % 6e4 / 1e3);
      document.getElementById("timer").innerHTML = "Contest start after<br><div class='count-down-time'><div class='count-down-part count-down-days' data-label='Days'>" + days + "</div>:<div class='count-down-part count-down-hours' data-label='Hours'>" + hours + "</div>:<div class='count-down-part count-down-minutes' data-label='Minutes'>" + minutes + "</div>:<div class='count-down-part count-down-seconds' data-label='Seconds'>" + seconds + "</div></div>";
      var x = setInterval(function () {
        if (distance = countUpDate - (now += 1e3), days = Math.floor(distance / 864e5), hours = Math.floor(distance % 864e5 / 36e5), minutes = Math.floor(distance % 36e5 / 6e4), seconds = Math.floor(distance % 6e4 / 1e3), document.getElementById("timer").innerHTML = "Contest start after<br><div class='count-down-time'><div class='count-down-part count-down-days' data-label='Days'>" + days + "</div>:<div class='count-down-part count-down-hours' data-label='Hours'>" + hours + "</div>:<div class='count-down-part count-down-minutes' data-label='Minutes'>" + minutes + "</div>:<div class='count-down-part count-down-seconds' data-label='Seconds'>" + seconds + "</div></div>", distance <= 0) return document.getElementById("timer").innerHTML = "Contest start after<br><div class='count-down-time'><div class='count-down-part count-down-days' data-label='Days'>" + 0 + "</div>:<div class='count-down-part count-down-hours' data-label='Hours'>" + 0 + "</div>:<div class='count-down-part count-down-minutes' data-label='Minutes'>" + 0 + "</div>:<div class='count-down-part count-down-seconds' data-label='Seconds'>" + 0 + "</div></div>", location.reload(), void clearInterval(x)
      }, 1e3)
    } else {
      distance = countDownDate - now, days = Math.floor(distance / 864e5), hours = Math.floor(distance % 864e5 / 36e5), minutes = Math.floor(distance % 36e5 / 6e4), seconds = Math.floor(distance % 6e4 / 1e3), document.getElementById("timer").innerHTML = "Time remaining<br><div class='count-down-time'><div class='count-down-part count-down-days' data-label='Days'>" + days + "</div>:<div class='count-down-part count-down-hours' data-label='Hours'>" + hours + "</div>:<div class='count-down-part count-down-minutes' data-label='Minutes'>" + minutes + "</div>:<div class='count-down-part count-down-seconds' data-label='Seconds'>" + seconds + "</div></div>";
      var y = setInterval(function () {
        if (distance = countDownDate - (now += 1e3), days = Math.floor(distance / 864e5), hours = Math.floor(distance % 864e5 / 36e5), minutes = Math.floor(distance % 36e5 / 6e4), seconds = Math.floor(distance % 6e4 / 1e3), document.getElementById("timer").innerHTML = "Time remaining<br><div class='count-down-time'><div class='count-down-part count-down-days' data-label='Days'>" + days + "</div>:<div class='count-down-part count-down-hours' data-label='Hours'>" + hours + "</div>:<div class='count-down-part count-down-minutes' data-label='Minutes'>" + minutes + "</div>:<div class='count-down-part count-down-seconds' data-label='Seconds'>" + seconds + "</div></div>", distance <= 0) { document.getElementById("timer").innerHTML = "<font color=red>Contest is over</font>"; document.getElementById("submit-just").innerHTML = "<p><font color=red><b>The contest is over</b></font></p>"; return clearInterval(y) }
      }, 1e3)
    }
    $("#dataTableHistory").DataTable({
      searching: false,
      ordering: false,
      lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]]
    })
    var datatableSubmission = $('#datatableSubmission').DataTable({
      dom: '',
      ajax: {
        url: "/submission-realtime",
        type: "POST"
      },
      ordering: false,
      aaSorting: [[2, 'asc']],
    })

    var x = setInterval(function () {
      var check = false;
      for (let i = 1; i < $('#datatableSubmission tr').length; ++i) {
        if ($("#datatableSubmission").find('tr')[i].cells[2].innerHTML.includes("Jugding") || $("#datatableSubmission").find('tr')[i].cells[2].innerHTML.includes("queue")) {
          check = true;
          $('#submit').prop('disabled', true);
        }
      }
      if (check) {
        datatableSubmission.ajax.reload();
      } else {
        $('#tenbai').change();
        return clearInterval(x)
      }
    }, 2000);
  </script>
  <% } %>
  <div class="modal fade" id="myModalTutorial">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Submission Guide</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <!-- Title -->
          <h5 class="card-title"><a>Choose a template for your language</a></h5>
          <!-- Text -->
          <p class="card-text"><b>Note: </b>Please check your <b>*.inp</b> and <b>*.out</b> before submit, <b>*</b> is a
            problem id. <u>Example:</u> A.inp, A.out</p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <span class="badge badge-default mb-2">C</span>
              <div id="editor01" style="height: 200px;"><%= fs.existsSync('./public/template/c.txt') ? fs.readFileSync('./public/template/c.txt', 'utf8') : ""%>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <span class="badge badge-default mb-2">C++</span>
              <div id="editor02" style="height: 200px;"><%= fs.existsSync('./public/template/cpp.txt') ? fs.readFileSync('./public/template/cpp.txt', 'utf8'): ""%>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <span class="badge badge-default mb-2">Java</span>
              <div id="editor04" style="height: 200px;"><%= fs.existsSync('./public/template/cpp.txt') ? fs.readFileSync('./public/template/java.txt', 'utf8'): ""%>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <span class="badge badge-default mb-2">Python 3</span>
              <div id="editor03" style="height: 200px;"><%= fs.existsSync('./public/template/python3.txt') ? fs.readFileSync('./public/template/python3.txt', 'utf8') : ""%>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            for (let i = 1; i < 5; ++i) {
              var editor = ace.edit('editor0' + i);
              editor.setOptions({
                readOnly: true,
                highlightActiveLine: false
              })
              editor.renderer.$cursorLayer.element.style.opacity = 0
              editor.renderer.setShowGutter(false);
              editor.getSession().setMode("ace/mode/c_cpp");
              document.getElementById('editor0' + i).style.fontSize = '15px';
            } 
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ("partials/footer" ) %>