<% var progress = (new Date() - data[0].time_begin) / (data[0].time_end - data[0].time_begin) * 100;
var point = []
for (let i = 0; i < data.length; ++i) {
    point[data[i].student_rollnumber] = new Array();
    for (let j = 0; j < problem_files.length; ++j) {
       point[data[i].student_rollnumber][problem_files[j].split('-')[0]] = "Not submit";
    }
    
}

for (let i = 0; i < log_files.length; ++i) {
    rollnum = log_files[i].split('][')[3];
    prob = log_files[i].split('][')[4].split('].')[0];
    var contents = fs.readFileSync('./public/nopbai/Logs/' + data[0].contest_name + '/' + log_files[i], 'utf8');
    if (!contents.split('\n')[0].includes('error')) {
        point[rollnum][prob] = parseInt(contents.split('\n')[0], 10);
    } else {
        point[rollnum][prob] = 0;
    }  
}
var totalpoint = []
for (let i = 0; i < data.length; ++i) {
    totalpoint[data[i].student_rollnumber] = new Array();
    totalpoint[data[i].student_rollnumber] = 0;
    for (let j = 0; j < problem_files.length; ++j) {
        if (isNaN(point[data[i].student_rollnumber][problem_files[j].split('-')[0]]) == false) {
            totalpoint[data[i].student_rollnumber] += point[data[i].student_rollnumber][problem_files[j].split('-')[0]];
        } else {
            totalpoint[data[i].student_rollnumber] += 0;
        }
    }
    
}
%>
<h2>Contest <%= data[0].contest_name %></h2>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:<%= progress %>%">
        <%= progress | 0 %>%</div>
</div> <br>
<div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-bordered" id="dataTableRank1" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Roll number</th>
                    <th>Name</th>
                    <th>Class</th>
                    <% for (let i = 0; i < problem_files.length; ++i) { %>
                    <th><%= problem_files[i].split('-')[0] %></th>
                    <% } %>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < data.length; ++i) {%>
                <tr>
                    <td><%= data[i].student_rollnumber %></td>
                    <td><%= data[i].student_rollnumber %></td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].class %></td>
                    <% for (let j = 0; j < problem_files.length; ++j) { %>
                    <td><%= point[data[i].student_rollnumber][problem_files[j].split('-')[0]] %></td>
                    <% } %>
                    <td><%= totalpoint[data[i].student_rollnumber] %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>